.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.places h1 {
    text-align: left;
    font-size: 30px;
    width: 100%;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    margin-left: 100px;
}

.price_by_night {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 40px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.price_by_night p {
    margin-top: 20px;
    text-align: center;
}

.information {
    height: 80px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.max_guest {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.number_rooms {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.number_bathrooms {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.information p{
    margin-top: 50px;
}

.user {
    width: 100%;
    text-align: left;
}

.description {
    width: 100%;
    text-align: left;
}
